[Unit]
Description=Test Display Manager
After=systemd-user-sessions.service

[Service]
ExecStart=/path/to/test/display-manager

[Install]
Alias=display-manager.service
